body {
    background-color: rgb(224, 235, 229);
}

.All_Data {
    width: 75%;
    margin: auto;
    margin-bottom: 3%;

    display: flex;
    justify-content: center;

    /* border: 1px solid red; */
}

@media only screen and (max-width: 1111px) {
    .All_Data {
        flex-direction: column;

        /* border: 1px solid red */
    }

    .All_Data .Entry_Data {
        width: fit-content;
        margin: auto;
        margin-top: 3%;
        /* border: 1px solid red */
    }
}

/*  */
.Avtar input {
    background: none;
    border: 0ch;
}

.Entry_Data {
    width: 60%;
    margin: 3%;

    /* border: 1px solid blue; */
}

.Entry_Data div>h2 {
    height: max-content;
    padding: 3%;
    background-color: rgb(186, 195, 190);
}

.Form_Div {
    height: max-content;
    padding: 3%;
    margin-top: 3%;
    text-align: left;
    background-color: rgb(186, 195, 190);

    /* border: 1px solid red; */
}

label,
select {
    margin: 7px;
    padding: 2px;
    border: none;
    vertical-align: middle;
}

input {
    vertical-align: middle;
    margin: 7px;
    padding: 2px;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.6);
}

option,
button {
    vertical-align: middle;
    margin: 7px;
    padding: 2px;
    border: 1px solid;
    background-color: rgba(239, 226, 226, 0.6);
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 77px;
    background-color: rgba(255, 255, 255, 0.6);
}

.Txt_Btn {
    margin: 3%;
    margin-top: 0%;
    text-align: left;

    /* border: 1px solid red; */
}

.Txt_Btn button {
    margin-left: 0%;
}

.Restoration {
    background-color: rgb(212, 177, 128);
}

.Plan {
    background-color: rgb(157, 205, 109);
}

.Gospel {
    background-color: rgb(136, 131, 207);
}

.Law {
    background-color: rgb(197, 133, 111);
}

.Word {
    background-color: rgb(232, 133, 133);
}

.Any {
    background-color: rgb(205, 223, 213);
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}