.Entry_Data {
    margin: 7%;
    margin-top: 3%;
    /* border: 1px solid red; */
}

.Entry_Data div>h2 {
    height: max-content;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 195, 190);
}

.Form_Div {
    height: max-content;
    padding: 3%;
    margin-top: 3%;
    text-align: left;
    background-color: rgb(186, 195, 190);

    /* border: 1px solid red; */
}

label {
    vertical-align: middle;
    margin: 3px;
}

input {
    padding: 2px;
    background-color: #fff7;
    border: 1px solid#222b;
}

option {
    font-weight: normal;

}

button {
    padding: 3px;
    margin: 5px;
    background-color: #ddd9;

    border: 1px solid;

}

textarea {
    background-color: #ddd9;
}