body {
    background-color: rgb(224, 235, 229)
}

.All_Data {
    display: flex;
    justify-content: space-around;

    /* border: 1px solid red; */
}

.Left_Div {
    border: 1px solid red;
}

.Right_Div {
    border: 1px solid red;
}

@media only screen and (max-width: 1111px) {
    .All_Data {
        flex-direction: column;
    }
}