@media only screen and (max-width: 1111px) {
    .All_Data .Display_Data {
        width: 75%;
        min-width: 288px;
        margin: auto;
        margin-top: 3%;
        /* border: 1px solid red */
    }

    img,
    video {
        margin: 1%;
        width: 100%;

        /* border: 1px solid red */
    }


}

.Display_Data {
    width: 45%;
    margin-top: 3%;

    /* border: 1px solid green; */
}

.Display_Data div>h2 {
    height: max-content;
    margin: 3%;
    margin-top: 0%;
    margin-bottom: 1.7%;
    padding: 4.4%;
    background-color: rgb(186, 195, 190);
}

.Display_Data div>img {
    width: 221px;
    height: 221px;
    border-radius: 55%;

    /* border: 1px solid red; */
}

.Display_Data div>video {
    max-width: 432px;
    border-radius: 3%;
    margin: 1%;
}

.lang_right select {
    text-align: center;
}

.lang_right select option {
    text-align: center;
}

.Display_Data p {
    height: max-content;
    margin: 3%;
    margin-top: 0%;
    padding: 3%;
    text-align: left;
    font-size: large;
    background-color: rgb(186, 195, 190);

    /* border: 1px solid red; */
}