.Display_Data {
    margin: 21%;
    margin-top: 3%;

    /* border: 1px solid red; */
}

.Display_Data h2 {
    height: max-content;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: rgb(186, 195, 190);
}

p {
    height: max-content;
    padding: 3%;
    text-align: left;
    background-color: rgb(186, 195, 190);
}